<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :acceptance %>
    <%= f.input :city %>
    <%= f.input :state_province %>
    <%= f.input :country %>
    <%= f.input :description %>
    <%= f.input :aid %>
    <%= f.input :trad %>
    <%= f.input :bouldering %>
    <%= f.input :sport %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
