<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <h1>( Profile Pic )</h1>
        <br>
        <br>
        <br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>User:</strong></td>
                <td><%= @profile.user.username %></td>
              </tr>
              <tr>
                <td><strong>Will You Connect with a Belay Buddy?:</strong></td>
                <td><%= @profile.acceptance %></td>
              </tr>
              <tr>
                <td><strong>City:</strong></td>
                <td><%= @profile.city %></td>
              </tr>
              <tr>
                <td><strong>State / Province:</strong></td>
                <td><%= @profile.state_province %></td>
              </tr>
              <tr>
                <td><strong>Country:</strong></td>
                <!-- use country_name to select full country name -->
                <td><%= @profile.country_name %></td>
              </tr>
              <tr>
                <td><strong>Aid:</strong></td>
                <td><%= @profile.aid %></td>
              </tr>
              <tr>
                <td><strong>Trad:</strong></td>
                <td><%= @profile.trad %></td>
              </tr>
              <tr>
                <td><strong>Bouldering:</strong></td>
                <td><%= @profile.bouldering %></td>
              </tr>
              <tr>
                <td><strong>Sport:</strong></td>
                <td><%= @profile.sport %></td>
              </tr>
              <tr>
                <td><strong>About Me:</strong></td>
                <td><%= @profile.description %></td>
              </tr>
            </tbody>
          </table>
          <% if user_signed_in? && current_user.id != @profile.id %>
            <%= link_to "Write a Review", new_profile_review_path(@profile) %>
          <% end %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title">Reviews</h1>
        <% if @reviews.blank? %>
          <h3>There are no reviews.</h3>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
              <p>By <%= review.user.username %></p>
              <br>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--<%#= link_to 'Edit', edit_profile_path(@profile) %> |
<%#= link_to 'Back', profiles_path %> -->

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>